@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary-dark text-text font-sans antialiased overflow-x-hidden;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif font-bold;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-primary-dark;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary-light rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-accent-blue;
}
